.settingsBar {
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #CFD8DC;
    margin-bottom: 20px;
    background-color: white;
    position: fixed;
}

.settingsContent {
    padding: 20px;
    padding-top: 60px;
    max-width: 1250px;
    margin: 0 auto;
}