@import '../../../globals';

.button {
    border-radius: 4px;
    font-family: $brandFont;
    text-transform: initial;
}

.primary {
    background-color: $primaryButtonColor;
    &:hover {
        background-color: $primaryButtonHoverColor;
    }
    &:active {
        background-color: $primaryButtonActiveColor;
    }
}

.flat {
        color: $buttonTextColor !important;
}