$color: grey;

.inputStyle {
    margin-right: 5px;
    margin-left: 5px; 
    input {
        border: solid 1px $color !important;
        border-radius: 5px ;
        &:focus {
            border-color: blue !important;
        }
    }
}