.raisedButtonStyles{
    input {
   
       background-color:#e52466 !important;
       &:Focus{
       background-color:#e52466 !important;
       }
      
  }

  Label{
      color:#000 !important;
      background-color:#e52466;
      
  }
}