.viewContent {
    margin-top: 20px;
    padding: 20px;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
}

.viewContentFull {
    margin-left: 360px;  
}

.viewContentCollapsed {
    margin-left: 80px;
}
