.active {
    background-color: #E7ECEE !important;
    border-radius: 4px !important;
    span {
        color: #424647 !important;
    }
}

.inviteDialogTitle {
    color: #8C9496;
    font-size: 16px;
    line-height: 19px;
}