.viewContent {
    margin-top: 60px;
    position: relative;
    height: calc(100vh - 60px);
    overflow: auto;
    y-overflow: scroll;
    //transition: transform .3s ease-in-out,margin .3s ease-in-out;
}

.viewContentFull {
    margin-left: 185px;
}

.viewContentCollapsed {
    margin-left: 60px;
}

.viewContentDashboard {
	margin-left: 0px;
}