.signup {
  height: 100%;
}

.leftPane {
  width: 504px;
  height: 100%;
  background-image: url('./signup_bg.png');
  background-size: cover;
}

.rightPane {
  position: absolute;
  left: 504px;
  top: 0;
  bottom: 0;
  right: 0;
}

.topBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}