.userDashboardContain {
	border-radius: 4px;
	box-shadow: 0px 2px 10px #888888;
}


.avatar {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden; 
}

.button {
	color: white;
	background: #E52466;
}

h1, h2, h3, h4, h5, h6, p {
	color: #6F6F6F;
}

p, div {
    font-size: 13px;
}