.bgImage {
    background: url(../../assets/images/user_dashboard_bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.userDashboardContain {
	border-radius: 4px;
	box-shadow: 0px 2px 10px #888888;
    background-color: #fff;
}




.button {
	color: white;
	background: #E52466;
}

h1, h2, h3, h4, h5, h6, p {
	color: #6F6F6F;
}

p, div {
    font-size: 13px;
}


.profile {
	margin: 10px 0 50px;
}
.avatar {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 30px;
    display: inline-block;
}

.userInfo {
    display: inline-block;
    height: 90px;
    vertical-align: middle;
    padding: 20px 0;
	p {
		display: inline-block;
		width: 60px;
	}
}