.sidebar {
    height: 100%;
    position:fixed;
    left: 0;
    top: 0;
    width: 360px;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
}
.collapsed {
    width: 80px;
}

.mainNavCollapsed {
    width: 80px;
    position: absolute;
    height: 100%;
    background-color: #BD9AC0;
}

.brandContainer {
    border-radius: 5px;
    background-color: #00D2AF;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    margin-top: 30px;
    position: relative;
}

.brandTitle {
    color: white;
    margin-left: 16px;
    margin-right: 50px;
    font-size: 24px;
}
.activeBrand {
    composes: brandContainer;
    opacity: 1;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    line-height: 50px;
    &:before {
        content: '';
        width: 6px;
        content: '';
        border: solid 3px #EE4579;
        position: absolute;
        left: -16px;
        top: -5px;
        height: 60px;
        z-index: 1;
        border-radius: 5px;
    }
}

.brandNav {
    width: 80px;
    position: absolute;
    height: 100%;
    background-color: white;
    text-align: center;
}

.mainNav {
    width: 280px;
    position: absolute;
    left: 80px;
    height: 100%;
    background-color: #BD9AC0;
}

.mainNavOverlay {
    opacity: 0.35;
    background-image: linear-gradient(-215deg, rgba(0,0,0,0.00) 22%, rgba(0,0,0,0.63) 100%);
}